*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    /* overflow-y: hidden;
    visibility: hidden; */
    width: 0px;
}
body{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
h1{
    font-size: 2em;
}
.highlight{
    color: #EB4314;
}
/* * Css index.php */
/* * Partie Header */
#body-header h1,
#body-header a{
    color: #ffffff;
}
#body-header{
    background: #35424A;
    border-bottom: 3px solid #EB4314;
    width: 100%;
    min-height: 3vh;
    padding: 1em;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, .5);
}
#body-header #nav-small{
    color: #ffffff;
    list-style-type: none;
    display: block;
}

#body-header #nav-large{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#body-header #nav-large a{
    display: none;
}

#body-header #nav-small nav{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#body-header nav a{
    margin-right: 2em;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
#body-header nav a:hover{
    color: #EB4314;
}

/* * Partie Main/Page-Content */
#index-main{
    background-image: url("../images/wallpaper1.jpg");
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    min-height: 97vh;
}
#index-main #index-main-header{
    height: 100vh;
    width: 100%;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#index-main #index-main-header h1{
    padding: 0 .5em;
}
#index-main #index-main-header p{
    width: 80%;
}

/* ! Partie index-newsletters (vérifier si duplication nécessaire) */
#index-newsletter{
    width: 100%;
    padding: 1em 0;
    background: #35424A;
    color: #ffffff;
    border-top: 3px solid #EB4314;
    border-bottom: 3px solid #EB4314;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 1);
}
#index-newsletter h1{
    text-align: center;
    font-size: .8em;
}
#index-newsletter form{
    width: 80%;
    max-width: 500px;
    gap: 3px;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}
#index-newsletter form input{
    height: 30px;
}
#index-newsletter form input[type = "mail"]{
    padding-left: 1em;
}
#index-newsletter form input[type = "submit"]{
    color: #ffffff;
    background: #EB4314;
    font-weight: bold;
    outline: none;
    border: none;
}

/* * Partie Worklist */
#index-worklist{
    width: 100%;
    padding: .5em;
    background: #ffffff;
}
#index-worklist .work-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 70%;
    max-width: 450px;
    margin: auto;
}
.work-card img{
    width: 100px;
}
.work-card h3{
    line-height: 1.5em;
}
.work-card p{
    text-align: justify;
}

/* * Partie Footer */
#footer{
    width: 100%;
    height: 100px;
    text-align: center;
    color: #ffffff;
    background: #35424A;
    border-top: 3px solid #EB4314;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    display: block;
}
footer p a{
    margin: 0 .5em;
    line-height: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
footer p a:hover{
    color: #EB4314;
}

/* * Page CGU.php */

#CGU{
    margin: auto;
    width: 95%;
    height: 100vh;
    overflow-y: scroll;
    padding: 2em;
}
#CGU h1{
    text-align: center;
    line-height: 2em;
}
#CGU header p:last-child{
    margin-top: 1em;
    text-align: center;
}
#CGU h2{
    margin-top: 2em;
}
#CGU p{
    text-align: justify;
}
#CGU ul,
#CGU ol{
    margin: 1em 0;
}
#CGU li{
    padding-left: 1em;
}
#CGU #CGU-contact address{
    display: block;
    margin-top: 1em;
}
#CGU #CGU-contact p:last-child{
    text-align: right;
    padding-top: 1em;
    font-size: .6em;
}

/* ? Media Queries */
@media screen and (min-width: 768px){
    /* * Partie Header */
    #body-header{
        flex-direction: row;
        justify-content: space-between;
    }
    #body-header #nav-small{
        display: none;
    }
    #body-header #nav-large{
        display: flex;
    }
    #body-header #nav-large a{
        display: block;
        line-height: 20px;
        margin-right: 1em;
    }

    /* * Partie Worklist */
    #index-worklist{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .work-card{
        width: 300px!important;
    }

    #CGU{
        width: 70%;
    }
}
@media screen and (min-width: 1024px){}
@media screen and (min-width: 1824px){}