*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
::-webkit-scrollbar {
	width: 0px;
}
html{
	scroll-behavior: smooth;
}
body {
	width: 100%;
	height: 100vh;
}
main {
	background-attachment: fixed !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	top: 0;
}
h1 {
	font-size: 2em;
}
a{
	text-decoration: none;
}
.highlight {
	color: rgba(235, 67, 20);
	filter: brightness(1.3);
}
#btn-up {
	z-index: 999;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
	background: #35424a;
	border-top: 3px solid #eb4314;
	border-radius: 50%;
	transition: all .5s;
}
#btn-up a{
	color: #eb4314;
	text-decoration: none;
	font-weight: bold;
	transition: all .5s;
	line-height: 2em;
	padding: 0 1em;
}
#btn-up:hover{
	background: #eb4314;
}
#btn-up:hover a{
	color: #35424a;
}

/* ********** PAGE HOME ***********/
/* * Partie Header */
#body-header h1,
#body-header a {
	color: #ffffff;
	text-decoration: none;
}
#body-header {
	z-index: 999;
	background: #35424a;
	border-bottom: 3px solid #eb4314;
	width: 100%;
	padding: 1em;
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.5);
}
#body-header p {
	text-transform: uppercase;
	color: #eb4314;
	font-size: large;
	font-weight: bold;
}
#btn-burger {
	z-index: 999;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#btn-burger span {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #eb4314;
}
#nav-large {
	z-index: 0;
	position: absolute;
	top: 50px;
	background: #35424a;
	border-bottom: 3px solid #eb4314;
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	transform: translateY(-150%);
	transition: ease-in-out 0.5s;
}
#nav-large.open {
	transform: translateY(10%);
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

#nav-large a {
	color: #eb4314;
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: bold;
	transition: all 0.3s;
}
#nav-large a:hover {
	color: #fff;
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: bold;
}

/* * Partie Main/Page-Content */
#index-main-header {
	height: 78vh;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
#index-main-header-home {
	width: 50%;
	min-width: 250px;
	max-width: 800px;
	padding: 2em;
	border-radius: 15px;
	background-size: cover;
	backdrop-filter: blur(30px);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.1);
}
#index-main-header #index-main-header-home h1 {
	padding: 0 0.5em;
	color: #fff;
}
#index-main-header #index-main-header-home p {
	width: 60%;
	color: #fff;
}

/* ********* PAGE ABOUT ********** */
#about-entreprise {
	background: linear-gradient(328deg, rgba(53, 66, 74, 1) 66%, rgba(235, 67, 20, 1) 100%);
	width: 100%;
	/* height: 100vh; */
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about-entreprise .about-img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	text-align: center;
}
#about-entreprise .about-img img {
	width: 100%;
	background-image: url("../images/logo2.png");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.9;
}
#about-entreprise .about-txt {
	margin: 2em 0;
	text-align: justify;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#about-entreprise .about-txt h2 {
	color: #eb4314;
}
#about-entreprise .about-txt p {
	color: #ccc;
}
/* ! Partie index-newsletters (vérifier si duplication nécessaire) */
#index-newsletter {
	width: 100%;
	padding: 1em 0;
	background: #35424a;
	color: #ffffff;
	border-top: 3px solid #eb4314;
	border-bottom: 3px solid #eb4314;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 1);
}
#index-newsletter h1 {
	text-align: center;
	font-size: 0.8em;
}
#index-newsletter form {
	width: 80%;
	max-width: 500px;
	gap: 3px;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}
#index-newsletter form input {
	height: 30px;
}
#index-newsletter form input[type="mail"] {
	padding-left: 1em;
}
#index-newsletter form input[type="submit"] {
	color: #ffffff;
	background: #eb4314;
	font-weight: bold;
	outline: none;
	border: none;
}

/* * Partie Worklist */
#index-worklist {
	width: 100%;
	padding: 0.5em;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#index-worklist .work-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	width: 70%;
	max-width: 450px;
}
.work-card img {
	width: 100%;
	border-radius: 50%;
	box-shadow: 6px 8px 25px 0px rgba(194, 194, 194, 1);
}
.work-card h3 {
	line-height: 1.5em;
}
.work-card p {
	text-align: justify;
}

/* * Partie Footer */
footer {
	width: 100%;
	height: 10vh;
	text-align: center;
	color: #ffffff;
	background: #35424a;
	border-top: 3px solid #eb4314;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer p {
	display: block;
}
footer p a {
	margin: 0 0.5em;
	line-height: 1.5em;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
footer p a:hover {
	color: #eb4314;
}

/* ********** PAGE CGU ********** */
#CGU {
	margin: auto;
	width: 95%;
	height: 100vh;
	overflow-y: scroll;
	padding: 2em;
	background: #ffffff;
	opacity: 0.9;
}
#CGU h1 {
	text-align: center;
	line-height: 2em;
}
#CGU #CGU-header p:last-child {
	margin-top: 1em;
	text-align: center;
}
#CGU h2 {
	margin-top: 2em;
}
#CGU p {
	text-align: justify;
}
#CGU ul,
#CGU ol {
	margin: 1em 0;
}
#CGU li {
	padding-left: 1em;
}
#CGU #CGU-contact address {
	display: block;
	margin-top: 1em;
}
#CGU #CGU-contact p:last-child {
	text-align: right;
	padding-top: 1em;
	font-size: 0.6em;
}

/* ********** PAGES ET SOUS CATEGORIES SERVICES ********** */
#services {
	width: 100%;
	min-height: 15vh;
	margin: auto;
	background: rgba(53, 66, 74, 1);
	color: #fff;
	padding: 1em;
	box-shadow: 2px 4px 22px 0px rgba(0, 0, 0, 0.8);
	text-align: justify;
}
#services h2 {
	text-align: center;
}
.services-card-container {
	perspective: 1000px;
	height: 67vh;
	display: flex;
	padding: 2em 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;
}
#bg-1-front {
	background-image: url("../images/dev.jpg");
}
#bg-2-front {
	background-image: url("../images/maintenance.jpg");
}
#bg-3-front {
	background-image: url("../images/hosting.jpg");
}

#bg-1-front,
#bg-2-front,
#bg-3-front {
	background-size: cover;
	background-position: center;
}

.services-card {
	width: 400px;
	height: 200px;
	margin: 1em 0;
	border-radius: 5px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	border: 1px solid black;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 1);
	transition: ease 1s;
}
.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.front {
	z-index: 2;
	background-size: cover;
	background: rgba(53, 66, 74, 0.4);
}
.front .services-card-content {
	backdrop-filter: blur(3px);
}
.back {
	background-size: cover;
	transform: rotateY(180deg);
	background: rgb(166, 46, 13);
}
.services-card-content {
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-card:hover {
	transform: rotateY(180deg);
}
.services-card-link {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
	display: block;
	width: auto;
	height: 2em;
	margin: auto;
	color: #fff;
	border-radius: 5px;
	transition: all 0.3s;
}
.services-card-link:hover {
	letter-spacing: 2px;
	background: rgba(216, 216, 216, 0.4);
}
/* * Développement */
.services {
	min-height: 78vh;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.forfait-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: 400px;
	text-align: justify;
	justify-content: center;
	align-items: space-between;
	margin: auto;
	padding: 1.3em;
	margin-top: 2em;
	background: rgba(53, 66, 74, 0.9);
	color: #fff;
	box-shadow: 2px 4px 22px 0px rgba(0, 0, 0, 0.8);
	border-radius: 10px;
}
.btn-services {
	width: 250px;
	margin: 1em;
	background: #eb4314;
	/* color: #fff; */
	border: none;
	margin-top: 2em;
	border-radius: 5px;
	padding: 0.5em 0.7em;
	transition: all 0.5s;
}
.btn-services a{
	color: #fff;
}
.btn-services:hover {
	cursor: pointer;
	letter-spacing: 3px;
	background: #fff;
	color: #eb4314;
	box-shadow: 2px 4px 22px 0px rgba(0, 0, 0, 0.4);
}
.btn-services:hover a{
	color: #eb4314;
}

/* ********* PAGE CONTACT ********* */
#contact {
	padding: 2em 0;
	height: 100vh;
}
#contact form {
	width: 90%;
	margin: 0 auto;
	padding: 1em;
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#contact form label {
	display: block;
}

#contact form input,
#contact form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

#contact form input[type="submit"] {
	background: #eb4314;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}

#contact form input[type="submit"]:hover {
	background: rgba(235, 67, 20, 0.4);
	color: #fff;
}

/* *********************************************** */
/* **                    ABOUT                  ** */
/* *********************************************** */
#about-team{
	margin-top: 2em;
}
.equipe-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.blog-card {
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: row;
	margin: 0 1em;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.6%;
	background: rgba(255, 255, 255, .8);
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
	transition: all .3s;
}
.blog-card a {
	color: inherit;
}
.blog-card:hover{
	box-shadow: 5px 7px 24px 0px rgba(75, 75, 75, 0.4);
}
.blog-card a:hover {
	color: #5784ba;
}
.blog-card:hover .photo {
	transform: scale(1.3) rotate(5deg);
}
.blog-card .user {
	position: relative;
	z-index: 0;
	/* height: 100px; */
	width: 100%;
}
.blog-card .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
}
.blog-card .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left 0.2s;
	background: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255);
	padding: 10px;
	width: 100%;
	font-size: 0.9rem;
}
.blog-card .details a {
	text-decoration: dotted underline;
}
.blog-card .details ul li {
	display: inline-block;
}
.blog-card .details .tags li {
	margin-right: 2px;
}
.blog-card .details .tags li:first-child {
	margin-left: -4px;
}
.blog-card .description {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	position: relative;
	z-index: 0;
}
.blog-card .description h1,
.blog-card .description h2 {
	font-family: Poppins, sans-serif;

}
.blog-card .description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
	color: #3c3c3c!important;
}
.blog-card .description h2 {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #a2a2a2!important;
	margin-top: 5px;
}
.blog-card .description .read-more {
	text-align: right;
}
.blog-card .description .read-more a {
	color: #5784ba;
	display: inline-block;
	position: relative;
	text-decoration: none;
	background: linear-gradient(to top, #5784ba 0%, #5784ba 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size 0.3s;
}
.blog-card .description .read-more a:hover {
	background-size: 100% 100%;
}
.blog-card p {
	position: relative;
	margin: 1rem 0 0;
	color: #a2a2a2!important;
}
.blog-card:hover .details {
	left: 0%;
}
.in-progress:hover {
	animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 1s; /* don't forget to set a duration! */
}
.global-service {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.card-service {
	width: 300px;
}

/* ? Media Queries */
@media screen and (min-width: 768px) {
	header {
		justify-content: space-between;
		align-items: center;
	}
	footer {
		position: relative;
		bottom: 0;
	}
	/* * Partie Header */
	#body-header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	#btn-up{
		display: none;
	}
	#btn-burger {
		display: none;
	}
	#nav-large {
		border: none;
		width: auto;
		top: 0;
		display: flex;
		flex-direction: row;
		position: relative;
		top: 0;
		transform: translateY(0);
	}
	#index-main-header {
		height: 90vh;
	}
	/* ********* PAGE ABOUT ********** */
	#about-entreprise {
		width: 100%;
		height: 100vh;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background: rgb(53, 66, 74);
	}

	#about-entreprise .about-img {
		width: 300px;

		text-align: center;
	}
	#about-entreprise .about-img img {
		width: 100%;
	}
	#about-entreprise .about-txt {
		margin-top: 2em;
		text-align: justify;
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	/* * Partie Worklist */
	#index-worklist {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}
	.work-card {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.services-card-container {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
	.services-card {
		width: 30%;
		min-width: 200px;
		height: 200px;
		border-radius: 5px;
		position: relative;
		transform-style: preserve-3d;
		transition: transform 1s;
		border: 1px solid black;
		box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 1);
	}
	.services {
		margin-bottom: 1em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.forfait-wrapper {
		width: 500px;
		justify-content: space-between;
	}
	#contact form {
		width: 50%;
	}
	#CGU {
		width: 70%;
	}
}
@media screen and (min-width: 1224px) {
	body{
		height: 100vh;
	}
	footer {
		position: relative;
		bottom: 0;
	}
	.services-card {
		width: 30%;
		height: 300px;
		border-radius: 5px;
		position: relative;
		transform-style: preserve-3d;
		transition: transform 1s;
		border: 1px solid black;
		box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 1);
	}
	#contact {
		height: 78vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.services {
		height: 80vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.forfait-wrapper {
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
